# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [2]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# show data frame first 5 rows
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
# get total number of schools
total_schools = len(school_data_complete['school_name'].unique())
# get the total number of students
total_students = len(school_data_complete['student_name'])
# get the total budget for scool system
total_budget = sum(school_data_complete['budget'].unique())

In [5]:
# get the avg math score for all students
avg_math = sum(school_data_complete['math_score']) / len(school_data_complete['math_score'])
avg_math = round(avg_math, 2)
# get the avg reading score for all students
avg_read = sum(school_data_complete['reading_score']) / len(school_data_complete['reading_score'])
avg_read = round(avg_read, 2)

In [6]:
# get the percentage of students that got a 70 or better in math
# first get a list of gades 70 an higher using list comprehension
passing_math_grades = [num for num in school_data_complete['math_score'] if num >= 70]
# calculate teh percentage that passed
pass_math_percent = (len(passing_math_grades) / len(school_data_complete['math_score'])) * 100
pass_math_percent = round(pass_math_percent, 2)

In [7]:
# get the percentage of students that got a 70 or better in reading
# first get a list of gades 70 an higher using list comprehension
passing_read_grades = [num for num in school_data_complete['reading_score'] if num >= 70]
passing_read_grades
# calculate the percentage that passed
pass_read_percent = (len(passing_read_grades) / len(school_data_complete['reading_score'])) * 100
pass_read_percent = round(pass_read_percent, 2)

In [8]:
# Get the overall passing rate (used a different calculation than the example)
overall_pass_rate = round(((pass_math_percent + pass_read_percent) / 2), 2)

In [9]:
# Create a dataframe showing district summary info
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_read],
    "% Passing Math": [pass_math_percent],
    "% Passing Reading": [pass_read_percent],
    "Overall Pass Rate": [overall_pass_rate]
})

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.4

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [10]:
# Get the table with each school and it's type
school_type = school_data.set_index(['school_name'])['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [11]:
# Calulate total students at each school
school_students = school_data_complete['school_name'].value_counts()
school_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [12]:
# Get the budget for each school
school_budget = school_data.groupby(['school_name'])['budget'].sum()
school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [13]:
# Get the budget per student at each school
per_student_budget = school_budget / school_students
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [14]:
# Get the average math score for each school
school_math = school_data_complete.groupby(['school_name'])['math_score'].mean()
school_math = round(school_math,2)
school_math

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [15]:
# Get the average reading score for each school
# Get the average math score at each school
school_read = school_data_complete.groupby(['school_name'])['reading_score'].mean()
school_read = round(school_read, 2)
school_read

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [26]:
# get the percentage of students that got a 70 or better in math for each school
# first get a list of gades 70 an higher using list comprehension
mathpass_school = school_data_complete[(school_data_complete['math_score'] >= 70)]
mathpass_school
# group the scores by school and calculate percentage
school_mathpass_pct = mathpass_school.groupby(["school_name"])["student_name"].count() / school_students * 100
school_mathpass_pct = round(school_mathpass_pct, 2)
school_mathpass_pct

Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
dtype: float64

In [27]:
# get the percentage of students that got a 70 or better in readig for each school
# first get a list of gades 70 an higher using list comprehension
readpass_school = school_data_complete[(school_data_complete['reading_score'] >= 70)]
mathpass_school
# group the scores by school and calculate percentage
school_readpass_pct = readpass_school.groupby(["school_name"])["student_name"].count() / school_students * 100
school_readpass_pct = round(school_readpass_pct, 2)
school_readpass_pct

Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
dtype: float64

In [32]:
# get the overall passing rate for each school
school_overall_pass = school_mathpass_pct + school_readpass_pct / 2
school_overall_pass = round(school_overall_pass, 2)
school_overall_pass

Bailey High School       107.65
Cabrera High School      142.65
Figueroa High School     106.36
Ford High School         107.96
Griffin High School      141.96
Hernandez High School    107.18
Holden High School       140.64
Huang High School        106.34
Johnson High School      106.67
Pena High School         142.56
Rodriguez High School    106.48
Shelton High School      141.80
Thomas High School       141.93
Wilson High School       142.14
Wright High School       141.64
dtype: float64

In [40]:
# Create a dataframe showing scool summary info

school_summary = pd.DataFrame({
    "School Type": [school_type],
    "Students": [school_students],
    "School Budget": [school_budget],
    "Budget per Student": [per_student_budget],
    "Average Math Score": [school_math],
    "Average Reading Score": [school_read],
    "% Passing Math": [school_mathpass_pct],
    "% Passing Reading": [school_readpass_pct],
    "Overall Pass Rate": [school_overall_pass]
})

school_summary

school_summary = school_summary[["School Type", "Students", "School Budget", "Budget per Student", "Average Math Score",
                                "Average Reading Score", "% Passing Math", "% Passing Reading",
                                "Overall Pass Rate"]]

school_summary

,School Type,Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
0,school_name Huang High School District ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928 C...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.05 Cab...,school_name Bailey High School 81.03 Cab...,Bailey High School 66.68 Cabrera High Sc...,Bailey High School 81.93 Cabrera High Sc...,Bailey High School 107.65 Cabrera High S...

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
top_schools = math

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.