# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [74]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# show data frame first 5 rows
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [77]:
# get total number of schools
total_schools = len(school_data_complete['school_name'].unique())
# get the total number of students
total_students = len(school_data_complete['student_name'])s
# get the total budget for scool system
total_budget = sum(school_data_complete['budget'].unique())

# get the avg math score for all students
avg_math = sum(school_data_complete['math_score']) / len(school_data_complete['math_score'])
avg_math = round(avg_math, 2)
# get the avg reading score for all students
avg_read = sum(school_data_complete['reading_score']) / len(school_data_complete['reading_score'])
avg_read = round(avg_read, 2)

# get the percentage of students that got a 70 or better in math
# first get a list of gades 70 an higher using list comprehension
passing_math_grades = [num for num in school_data_complete['math_score'] if num >= 70]
# calculate teh percentage that passed
pass_math_percent = (len(passing_math_grades) / len(school_data_complete['math_score'])) * 100
pass_math_percent = round(pass_math_percent, 2)

# get the percentage of students that got a 70 or better in reading
# first get a list of gades 70 an higher using list comprehension
passing_read_grades = [num for num in school_data_complete['reading_score'] if num >= 70]
passing_read_grades
# calculate the percentage that passed
pass_read_percent = (len(passing_read_grades) / len(school_data_complete['reading_score'])) * 100
pass_read_percent = round(pass_read_percent, 2)

# Get the overall passing rate (used a different calculation than the example)
overall_pass_rate = round(((pass_math_percent + pass_read_percent) / 2), 2)

# Create a dataframe to hold the above results
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_read],
    "% Passing Math": [pass_math_percent],
    "% Passing Reading": [pass_read_percent],
    "Overall Pass Rate": [overall_pass_rate]
})

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.4

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [149]:
# set school as index and group the data by schools and
school_df = school_data_complete.groupby('school_name')['student_name'].count()

# set school type is index
school_type = school_df['type']
school_type

#type_df = school_data_complete.set_index(['type'])
#type_df.head()

# get total students at each school
students_school = school_df('student_name').count()

# get the total budget for each school
school_budget = school_df['budget'].unique()

# get the budget per student for each shool
student_budget = school_budget / students_school
student_budget

# Get the average math score at each school
stu_math_avg = school_df['math_score'].mean()
stu_math_avg = round(stu_math_avg, 2)
stu_math_avg

# Get the average math score at each school
stu_read_avg = school_df['reading_score'].mean()
stu_read_avg = round(stu_read_avg, 2)
stu_read_avg

# get the percentage of students that got a 70 or better in math for each school
# first get a list of gades 70 an higher using list comprehension
sch_math_pass = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID']
sch_math_pass
# calculate the percentage that passed
sch_math_percent = round(sch_math_pass.count() / students_school, 2) *100
sch_math_percent

# get the percentage of students that got a 70 or better in reading for each school
# first get a list of gades 70 an higher using list comprehension
sch_read_pass = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID']
sch_read_pass
# calculate the percentage that passed
sch_read_percent = round(sch_read_pass.count() / students_school, 2) *100
sch_read_percent

#Create Dataframe
school_summary = pd.DataFrame({
    "Type": [school_type],
    "Total Students": [students_school],
    "Budget": [school_budget],
    "Budget per Student": [student_budget],
    "Avg. Math Score": [stu_math_avg],
    "Avg. Reading Score": [stu_read_avg],
    "% Passing Math": [sch_math_percent],
    "% Passing Reading": [sch_read_percent],
    
})
school_summary.head()

KeyError: 'type'

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [3]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [4]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.